.QuestionsPage {
  margin: 30px;
  background-color: #fefefe;

  .Filters {
    gap: 4px;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 16px;

    a {
      &:hover {
        background-color: #ccc;
      }

      &.active {
        background-color: #eee;
      }

      flex-grow: 1;
      text-align: center;
      // border: 1px solid #000;
      padding: 10px;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 6px;
      color: #1a1a1a;
    }
  }
}
